<body>
  <header>
    <!-- <nav>
      <div class="container-fluid">
        <p>Bindhiya C Philip</p>
      </div>
      <ul class="nav-item">
        <li>
          <a href="#Home"> Home </a>
        </li>
        <li>
          <a href="#project"> Projects </a>
        </li>
        <li>
          <a href="#skill"> Skills </a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav> -->
  </header>
  <main>
    <section id="Home">
      <div class="main drop">
        <div >
          <h6 class="designation wavey">DESIGNER</h6>
        </div>
        <div>
          <h1 class="name wavey">Hello, my name is <br />Bindhiya C Philip</h1>
        </div>
        <div class="currently wavey">
          A trainee in software dvelopment at <br />Experion Technologies.
        </div>
        <div class="button wavey">
          <button id="btn2" type="button">
            <a href="about.html">About Me</a>
          </button>
          <button id="btn2" type="button">
            <a href="https://www.linkedin.com/in/bindhiya-philip-1a100520b/">LinkedIn</a>
          </button>
        </div>
      </div>
    </section>
  </main>

  <section id="skill">
    <div class="skills">
      <h2 id="sub-heading">Skills</h2>
      <div class="icons">
        <div class="dis">
        <img src="/images/html.png" alt="html" class="zoom-image"  />
        <div class="detail">html</div>
        </div>

        <div  class="dis">
        <img src="/images/css-3.png" alt="css" class="zoom-image"  />
        <div class="detail">css</div>
        </div>

        <div  class="dis">
        <img src="/images/python.png" alt="python" class="zoom-image"  />
        <div class="detail">python</div>
        </div>

        <div class="dis">
        <img src="/images/django.png" alt="django" class="zoom-image" />
        <div class="detail">django</div>
        </div>

      </div>
    </div>
  </section>
  <section id="project">
    <div class="projects">
      <div>
        <h2 id="sub-heading">Projects</h2>
      </div>
      <div class="project-name">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Insurance Prediction Tool</h5>
                <p class="card-text">
                  A website to predict the insurance cost from some criteria such as age, lifestyle, income, and family. It uses ML to make appropriate predictions.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <img
                id="img1"
                src="/images/6974887_4412.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Med-station</h5>
                <p class="card-text">
                  An app that provide an e-commerce portal for trading
                  medicine. Another user can search for certain medicine and
                  order the same. The medicine will be delivered to the
                  user.                  </p>
              </div>
            </div>
            <div class="col-md-6">
              <img
                id="img1"
                src="/images/8131805_3831955.jpg"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">

    <div class="form">
      <form method="post">
        <div>
          <h2 id="sub-heading">Leave a Message</h2>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Name</label
          >
          <input
            type="name"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Comments</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="5"
          ></textarea>
        </div>
        <div class="button">
          <button id="btn2" type="submit">Send</button>
        </div>
      </form>
    </div>

  </section>

  <footer>
    <div>
      <ul class="foot">
        <li>
          <a href="https://www.instagram.com/"
            ><img
              id="links"
              width="30px"
              src="/images/social-media.png"
              alt=""
          /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/bindhiya-philip-1a100520b/"
            ><img id="links" width="25px" src="/images/linkedin.png" alt=""
          /></a>
        </li>
        <li>
          <a href="mailto:bindhiya.philip@experionglobal.com"
            ><img id="links" width="28px" src="/images/email.png" alt=""
          /></a>
        </li>
        <li>
          <a href="https://github.com/"
            ><img id="links" width="30px" src="/images/outline.png" alt=""
          /></a>
        </li>
      </ul>
    </div>
    <div>
      <p>Bindhiya C Philip 2024</p>
    </div>
  </footer>
</body>

